* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

.header {
    background-color: #1a3c40;
}

.header-logo {
    font-family: courier;
    font-size: 50px;
    font-weight: 800;
    color: #ede6db;
    padding: 40px 20px;
}

.header-logo ul {
    font-family: courier;
    font-size: 25px;
    font-weight: 400;
}

.main {
    background-color: #ede6db;
    border-bottom: 1px solid #1d5c63;
}

.main-item {
    font-family: century gothic;
    font-size: 50px;
    font-weight: 800;
    color: #1a3c40;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.main-search p {
    font-family: century gothic;
    font-size: 20px;
    font-weight: 400;
    color: #1a3c40;
    text-align: center;
    padding: 0px 20px;
}

.contact-form {
    padding: 20px 20px;
    text-align: center;
}

input {
    width: 300px;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
    margin: 0 auto;
}

.contact-submit {
    background-color: #417d7a;
    color: #ede6db;
    width: 200px;
    padding: 20px;
    float: center;
    font-family: courier;
    margin: 0 auto;
    border-radius: 20px;
    cursor: pointer;
}

.contact-submit:hover {
    background-color: #1d5c63;
    text-decoration: none;
}

.content {
    background-color: #ede6db;
    margin: 0 auto;
    padding-bottom: 20px;
}

.content h2 {
    font-family: century gothic;
    font-size: 50px;
    font-weight: 800;
    color: #1a3c40;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.content-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.content-list img {
    width: 30%;
    border-radius: 20%;
    float: left;
    padding: 10px 20px;
}

.content-list p {
    width: 70%;
    font-family: century gothic;
    font-size: 20px;
    font-weight: 600;
    color: #1a3c40;
    text-align: center;
    padding: 1px 20px;
}

.footer {
    background-color: #1a3c40;
}

.footer-logo {
    font-family: century gothic;
    font-size: 30px;
    font-weight: 400px;
    color: #ede6db;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-list {
    font-family: caurier;
    font-size: 20px;
    font-weight: 400;
    color: #ede6db;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 20px;
}

.footer-list img {
    float: center;
    padding: 0px 20px;
}

.footer-list h4 {
    float: center;
    font-family: courier;
    font-size: 20px;
    font-weight: 400;
    color: #ede6db;
    padding: 0px 20px;
}

.footer-list p {
    float: center;
    background-color: #417d7a;
    font-family: courier;
    font-size: 20px;
    font-weight: 400;
    color: #ede6db;
    padding: 0px 20px;
}
